Line 1
Line 2

{
"cartItem": {
"id": -2147474150,
"code": "SALE_-2147474153_-2147474152",
"price": 3000,
"tax": 0,
"endPrice": 3000,
"totalPrice": 3000,
"totalEndPrice": 3000,
"hidden": false,
"quantity": 1,
"ticketTypeFk": 649,
"bOCartFk": -2147474153,
"bODeliveryFk": -2147474151,
"dateCreated": {

},
"lastUpdated": {

},
"uuid": "89a90fd3-0f19-4a8a-97f5-2b5fa23d1daa",
"url": "http:\/\/mogobiz.ebiznext.com\/cms\/render\/live\/en\/sites\/acmesport\/JCF_store-acmesport\/products\/603.html"
},
"merchant": {
"uuid": "d7b864c8-4567-4603-abd4-5f85e9ff56e6",
"email": "seller7@merchant.com",
"company": "acmesport",
"website": "http:\/\/www.ebiznext.com",
"password": "03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4",
"civility": {
"name": "MR"
},
"firstName": "Merchant7",
"lastName": "TEST",
"birthDate": "1997-03-31T00:00:00Z",
"address": {
"road": "road",
"city": "Paris",
"zipCode": "75000",
"extra": "extra",
"civility": {
"name": "MR"
},
"firstName": "Merchant7",
"lastName": "TEST",
"telephone": {
"phone": "",
"lphone": "0123456789",
"isoCode": "",
"status": {
"name": "WAITING_ENROLLMENT"
}
},
"country": "FR",
"admin1": "FR.A8",
"admin2": "FR.A8.75"
},
"status": {
"name": "ACTIVE"
},
"loginFailedCount": 0,
"waitingPhoneSince": -1,
"waitingEmailSince": -1,
"lastLogin": "2016-04-11T20:33:28Z",
"paymentConfig": {
"paypalParam": "{\"paypalUser\":\"hayssams-facilitator_api1.yahoo.com\",\"paypalPassword\":\"1365940711\",\"paypalSignature\":\"An5ns1Kso7MWUdW4ErQKJJJ4qi4-AIvKXMZ8RRQl6BBiVO5ISM9ECdEG\"}",
"applePayParam": "{\"apiLoginId\":\"\",\"transactionKey\":\"\"}",
"cbParam": "{\"systempayShopId\":\"34889127\",\"systempayContractNumber\":\"5028717\",\"systempayCertificate\":\"7736291283331938\"}",
"cbProvider": {
"name": "SYSTEMPAY"
},
"paymentMethod": {
"name": "EXTERNAL"
},
"emailField": "user_email",
"passwordField": "user_password",
"senderName": "hayssam",
"senderEmail": "hayssam@saleh.fr",
"callbackPrefix": "mogobiz.ebiznext.com",
"passwordPattern": "",
"dateCreated": "2016-03-03T08:49:36Z",
"lastUpdated": "2016-03-03T08:49:36Z"
},
"roles": [
{
"name": "MERCHANT"
}
],
"shippingAddresses": [

],
"secret": "d7b864c8-4567-4603-abd4-5f85e9ff56e6",
"creditCards": [

],
"dateCreated": "2015-03-18T05:51:39Z",
"lastUpdated": "2016-04-11T20:33:28Z"
},
"customer": {
"uuid": "d064599c-d09f-4f3c-8b13-de221a87de19",
"email": "hayssam@saleh.fr",
"password": "03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4",
"civility": {
"name": "MR"
},
"firstName": "Hayssam",
"lastName": "Saleh",
"birthDate": "2015-03-01T00:00:00Z",
"address": {
"road": "ad",
"road2": "",
"city": "PAris",
"zipCode": "75000",
"extra": "",
"civility": {
"name": "MR"
},
"firstName": "Hayssam",
"lastName": "Saleh",
"telephone": {
"phone": "+33 1 23 45 67 89",
"lphone": "01 23 45 67 89",
"isoCode": "FR",
"pinCode3": "000",
"status": {
"name": "ACTIVE"
}
},
"country": "FR",
"admin1": "FR.A8",
"admin2": "FR.A8.75"
},
"status": {
"name": "ACTIVE"
},
"loginFailedCount": 0,
"waitingPhoneSince": 1427131020699,
"waitingEmailSince": 1427131020699,
"lastLogin": "2016-04-11T20:26:56Z",
"country": {
"uuid": "083d7358-b1e3-4cd2-aa9d-11af19e75557",
"code": "FR",
"name": "France",
"shipping": true,
"billing": true,
"zipCodeRegex": "^(\\d{5})$",
"currencyCode": "EUR",
"currencyNumericCode": "978",
"currencyName": "Euro",
"phoneCode": "33",
"dateCreated": "2015-03-18T05:52:34Z",
"lastUpdated": "2015-03-18T05:52:34Z"
},
"roles": [
{
"name": "CUSTOMER"
}
],
"owner": "d7b864c8-4567-4603-abd4-5f85e9ff56e6",
"emailingToken": "7T4PAAN-UreozMdyi3uRY7jCHGrh6j5U4wRffA3Arbg4pn4LOob4eLX-sf2reGu2Eu5kghLG2tFcRH515ki1PgWeY_mY1Qe9dCZkcpZlk-348lQ9DP1dfWNRm4c1KL9G",
"shippingAddresses": [
{
"uuid": "085ca195-32be-4b33-ae21-ae2a025cd64b",
"active": true,
"address": {
"road": "ad",
"city": "PAris",
"zipCode": "75000",
"civility": {
"name": "MR"
},
"firstName": "Hayssam",
"lastName": "Saleh",
"telephone": {
"phone": "+33 1 23 45 67 89",
"lphone": "01 23 45 67 89",
"isoCode": "FR",
"pinCode3": "000",
"status": {
"name": "WAITING_ENROLLMENT"
}
},
"country": "FR",
"admin1": "FR.A8",
"admin2": "FR.A8.75"
}
}
],
"secret": "",
"creditCards": [

],
"dateCreated": "2015-03-23T17:17:00Z",
"lastUpdated": "2016-04-11T20:26:56Z"
},
"beforeUpdate": {
"id": -2147474053,
"bOReturnedItemFk": -2147474054,
"motivation": "UIUIIYOI",
"status": {
"name": "RETURN_SUBMITTED"
},
"dateCreated": {

},
"lastUpdated": {

},
"uuid": "0b91639a-a0f5-41e7-9d8a-0c711de8c335"
},
"afterUpdate": {
"id": -2147474052,
"bOReturnedItemFk": -2147474054,
"motivation": "xscdcdcdcd",
"status": {
"name": "RETURN_TO_BE_RECEIVED"
},
"dateCreated": {

},
"lastUpdated": {

},
"uuid": "b5f208b9-3c4d-4d8f-9f5e-2a3caaff9baa"
}
}