Your return has been registered

<br/>
{{#customer}}
    Dear {{firstName}} {{lastName}},<br/>
{{/customer}}

<br/>
You just created a return request. <br/>
<br/>

You returned your item <a href="{{storeCartItem.shopUrl}}">{{storeCartItem.name}}</a> for the following reason(s) : <br/>
{{#returnStatus}}
    <span style="font-style:italic;">{{motivation}}</span><br/>
{{/returnStatus}}
{{#cartItem}}
<img src="${{url}}" alt="{{quantity}}" width="50px" height="50px" /> <br/>
<br/>
{{/cartItem}}


<br/>
We will keep you informed about the evolution of your request.
<br/>

Best Regards<br/>
Our Team<br/>
