Your return {{uuid}}.

<br/>
{{#customer}}
    Dear {{firstName}} {{lastName}},<br/>
{{/customer}}

<br/>
Your return request has been updated. <br/>
<br/>

You returned your item for the following reason(s) : <br/>
{{#returnStatus}}
    <span style="font-style:italic;"></span>
    {{motivation}}<br/>
{{/returnStatus}}

<br/>
We will keep you informed about the evolution of your request.
<br/>

Best Regards<br/>
Our Team<br/>
