News about your return {{uuid}}.

<br/>
{{#customer}}
    Dear {{firstName}} {{lastName}},<br/>
{{/customer}}

<br/>
Your return request has been updated. <br/>
Status of your return : {{afterUpdate.status.name}}.<br/>
Product returned : <a href="{{storeCartItem.shopUrl}}">{{storeCartItem.name}}</a>.<br/>
<img src="${{cartItem.url}}" alt="{{cartItem.name}}" width="50px" height="50px" /> <br/>
<br/>

The following comment has been added : <br/>
{{#afterUpdate}}
    <span style="font-style:italic;"></span>
    {{motivation}}<br/>
{{/afterUpdate}}

<br/>
We will keep you informed about the evolution of your request. <br/>

Best Regards.<br/>
Our Team.<br/>
